.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
    position: relative;
}
.products-container{
    margin: 80px; 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;

}
.btn-review-order{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 10px auto;
    background: #fd6a30fd;
    border-radius: 4px;
    color: beige;
    font-weight: 500;
}
