.cart {
    background-color: rgba(255, 153, 0, 0.30);
    padding: 25px;
    position: absolute;
    top: 0;
    position: sticky;
    top: 20;
}

.cart-info {
    text-align: left;
    padding-right: 10px;
    font-family: Lato;
    font-size: 17px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.085px;
}
.cart-info h6{
     font-family: Lato;
     font-size: 21px;
     font-style: normal;
     font-weight: 600;

}